[2016-01-27 14:13] rinav opened #1 "How can I add sections?"
Any tip to how do I implement Sectioned Timeline.
for eg,
Each day becomes section and timeline as hours of a day, If day changes, new section with timeline will be created

Any help with this usecase

[2016-01-27 14:22] vipulasri commented on #1
@riinav Nice input. I will try to implement it in next update. Till now you can implement it like Sectioned Recycler View. Checkout code of this library you will be able to implement it. https://github.com/afollestad/sectioned-recyclerview

[2016-01-28 06:33] riinav commented on #1
@vipulasri Thanks for the tip.
I'll look into the lib and implement

[2016-01-31 08:59] jossiwolf opened #2 "Change color of marker"
Is this possible?

[2016-01-31 09:42] vipulasri commented on #2
yes you can. For that you can have a drawable.
For eg.
 **new_marker.xml**

`<?xml version="1.0" encoding="utf-8"?>
<shape
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:shape="oval">
    <solid android:color="@android:color/holo_green_dark"/> //change the color you want to display
</shape>`

And in main layout :

`<com.vipul.hp_hp.timelineview.TimelineView
android:id="

[2016-01-31 09:42] #2 closed

[2016-02-22 04:08] PeterPhyo opened #3 "How to set horizontal fit screen"
I would like to set  horizontal *_<android.support.v7.widget.CardView *_

android:layout_width="50dp"
android:layout_height="300dp"

I use match_parent for layout_width & wrap_content for layout_height. It doesn't change match_parent. It doesn't set fix match_parent on my phone.

[2016-02-22 05:16] vipulasri commented on #3
@PeterPhyo, I didn't get what are you trying to implement? Can you please elaborate

[2016-02-22 11:43] WenhaoWu opened #4 "Large Card"
So with a larger card the line is not connected.
![alt text](https://i.imgur.com/ng5iav3.png "ScreenShot")

Any idea why

[2016-02-22 11:58] vipulasri commented on #4
Try using this code : ` android:layout_height="match_parent"`

[code]

[2016-02-22 12:00] vipulasri commented on #4
@WenhaoWu

Try using this code : ` android:layout_height="match_parent"`

[code]

[2016-02-22 12:10] WenhaoWu commented on #4
Ooh thank you now it works

[2016-02-22 12:10] #4 closed

[2016-02-25 08:01] rrinav opened #5 "recent appcomapt 23.2.0 release makes the timeline view expand to full screen"
As the recyclerView in 23.2, the timeline view expands to full_width, even when we use wrap_content for the container.

[2016-02-25 08:28] vipulasri commented on #5
@rrinav . Thanx for pointing it out. It will be fixed asap in next release.

[2016-02-25 12:28] vipulasri commented on #5
@rrinav can you post some screenshot of it?

[2016-02-25 13:03] rrinav commented on #5
Thanks for your time,

below is the screen shot and my layout of recycler view item

[http://imgur.com/RQnUHDn](url)
[http://imgur.com/bggxNhG](url)

I tried match parent, wrap parent and also manually setting as 100dp just to test

    <LinearLayout
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:app="http://schemas.android.com/apk/res-auto"
        xmlns:tools="h

[2016-02-25 13:11] vipulasri commented on #5
can you explain me properly that you are facing problem in width of view or height? As in screenshots it is clear it is having problem in height.

Refer this issue #4

[2016-02-25 14:27] rrinav commented on #5
I am having problem with height.
Actually there is huge space between each recycler view items.

if I use match_parent the tine is drawn from top to bottom, but there is still huge space between each item just like issues #4

I am unable to remove extra spacing between each item

[2016-02-25 14:30] vipulasri commented on #5
@rrinav just want to confirm are you using RecyclerView?
and try another solution by removing `android:gravity="top"` from parent `LinearLayout`

[2016-02-25 14:36] rrinav commented on #5
yes I am using RecyclerView with
    ```android:layout_width="match_parent"```
    ```android:layout_height="match_parent"```

I tried removing ```android:gravity="top"``` but it's still the same

[2016-02-25 14:39] vipulasri commented on #5
@rrinav I am also using new RecyclerView v23.2.0 but i am not facing any issues as you are. I would recommend checking and removing TimelineView from your layout and rebuilding it and ensure that this problem remains or not.

[2016-02-25 14:48] rrinav commented on #5
I'll try to rebuild and look into more detail and report back here.
Thanks for your time

[2016-03-08 06:41] irascible opened #6 "small bug in TimelineView.getTimelineViewType?"
I think the only-one check should happen first, otherwise you get a dangling line.

public static int getTimeLineViewType(int position, int total_size) {
        if(total_size == 1) {
            return LineType.ONLYONE;
        } else if(position == 0) {
            return LineType.BEGIN;
        } else if(position == total_size - 1) {
            return LineType.END;
        } else {

[2016-03-08 06:43] vipulasri commented on #6
can you provide some screenshot for the same, where it is not providing output as expected.

[2016-03-08 06:43] vipulasri commented on #6
@irascible can you provide some screenshot for the same, where it is not providing output as expected.

[2016-03-08 06:53] irascible commented on #6
![dangling_line](https://cloud.githubusercontent.com/assets/1003540/13594221/db5998fe-e502-11e5-8174-d59a1278cf0f.png)

[2016-03-08 06:57] vipulasri commented on #6
@irascible , I think this is because you might be using a drawable with extra paddings.

[2016-03-08 07:10] irascible commented on #6
I am not sure that applies. The picture in the comment above uses the original getTimeLineViewType() code. When I override it, as in the code snippet above, the picture becomes as follow. Note the absence of the dangling line.

![dangling_line_2](https://cloud.githubusercontent.com/assets/1003540/13594488/1e6af532-e505-11e5-8aa3-3b68fcc93336.png)

[2016-03-08 07:13] vipulasri commented on #6
@irascible I am not able to get you. You want to display only one-item?

[2016-03-08 07:19] irascible commented on #6
The model is dynamic. When it first starts, there is one item. Later there are more. The lines work fine when there is more than one item. I am merely fixing the case when there is only one. In the original code, it first checks that the item is at position zero and returns BEGIN. However, if there is only one item, it should return ONLYONE.Thus the fix above.

[2016-03-08 07:21] vipulasri commented on #6
@irascible Okay sure, now i understood. I will soon release the new updated library.

[2016-03-23 22:47] vidia commented on #6
I also had this issue.

[2016-03-23 23:06] vidia commented on #1
I made a sectioned version of this locally that seems to work pretty well. The main codebased is closed source, but here is the relevant adapter. Hopefully it can help @vipulasri implement an update as well.

Some context before you look, my goal for this was to display a calendar where the headings are days of the week (represented by DayHeaderScheduleEntry) and Events are displayed using the tim

[2016-03-23 23:08] vidia commented on #5
This seems to be an issue with that update to the RecyclerView and not specific to this library. I say that because in a few og my implementations of RecyclerViews I ran into the same height issues.

There might be something the library can do to avoid this, but its probably not a bug specific to the library.

[2016-03-24 03:11] #5 closed

[2016-03-24 13:17] vipulasri commented on #6
Thank you @vidia . New Library version is updated with a fix to this.

[2016-03-24 13:17] #6 closed

[2016-04-01 11:28] novanto opened #9 "Problem in dynamic rows"
I used your library to a dynamic list - a list where the content can be with/without image. But there is some problem on row with images, you can see the problem below:

![timelineview-dynamiclist](https://cloud.githubusercontent.com/assets/3339477/14205624/d38c7dfc-f836-11e5-9989-f626a01dae95.png)

I have applied `match parent` on timeline view and it doesn't help me at all.

For the dynamic view

[2016-04-01 11:31] vipulasri commented on #9
@novanto Please post xml code you have implemented.

[2016-04-01 14:59] novanto commented on #9
`<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="wrap_content">

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_marginLeft="20dp"

[2016-04-05 05:39] gurikoxo opened #10 "Change Line position"
Hi, thanks for the lib thats cool.

Can we change line position for example center or right aligned?

Thank you

[2016-04-05 05:52] vipulasri commented on #10
@gurikoxo, no you cannot change the line position to right aligned.

[2016-04-05 05:52] #10 closed

[2016-04-12 08:47] novanto commented on #9
I have fixed it, but I have to re-declare the row height on the adapter. Still I don't think the issue should be closed because the library should accommodate the dynamic rows like the IOS library here [https://github.com/edekhayser/Timeline](https://github.com/edekhayser/Timeline)

[2016-05-10 00:02] ahmedoid commented on #9
@novanto  can you past your solution here because  here same issue
thank you

[2016-05-10 08:11] novanto commented on #9
First you have to make sure the image's size is static. You can do this by declaring manually on xml layout_height.

Then, add the height to your row height and declare it. The declaration must be on the viewholder binding, so you have to declare it on your adapter. I'm using `TableRow.LayoutParams` to redeclare the row height.

PS: use `getResources().getDisplayMetrics().density` on declaring the

[2016-05-23 04:13] rafivian opened #11 "Change icon / setMarker"
How to setMarker or change the icon

<com.vipul.hp_hp.timelineview.TimelineView
                android:id="@+id/red_marker"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                app:marker_size="35dp"
                app:marker="@drawable/ic_timeline_red"
                app:line_size="2dp"
                app:line="@android:color

[2016-05-23 04:15] rafivian commented on #9
you can use this to connect the line
 <com.vipul.hp_hp.timelineview.TimelineView
                android:id="@+id/red_marker"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                app:marker_size="35dp"
                app:marker="@drawable/ic_timeline_red"
                app:line_size="2dp"
                app:line="@android:colo

[2016-05-23 05:07] vipulasri commented on #11
@rafivian, You don't need to perform an extra step for this. Just use like this :

`holder.mTimelineView.setMarker(context.getResources().getDrawable(R.drawable.ic_timeline_blue));`
OR

`holder.mTimelineView.setMarker(R.drawable.ic_timeline_blue);`

[2016-05-23 05:07] #11 closed

[2016-05-23 12:38] vipulasri commented on #9
@novanto I got more appropriate solution to your problem. Steps :

1. Use `FrameLayout` as Parent View.
2. Move `TimeLineView` inside a `FrameLayout` with width and height as `match_parent`.
3. Then move all the other view inside a `LinearLayout` or `RelativeLayout`

For Example :

[code]

[2016-05-23 12:38] #9 closed

[2016-06-23 08:32] Vander-liu commented on #3
GridLayoutManager  control layout  however TimeLine  contain line is disappear.

[2016-06-23 08:33] Vander-liu opened #14 "GridLayoutManager control layout however TimeLine contain line is disappear."

[2016-06-23 08:57] vipulasri commented on #14
@Vander-liu this library is intentionally made to support `LinearLayout Manager`.
Can you please explain your use case while you are using `Timeline-View` in `GridLayout Manager`? so that i can think over this feature and roll out in near future.

[2016-07-04 16:32] caotian opened #15 "line broke when set marker size"
line broke when set each marker size not the same size, any idea?

[2016-07-05 05:11] vipulasri commented on #15
@caotian can you please post any screenshot of it.

[2016-07-05 05:21] caotian commented on #15
![1](https://cloud.githubusercontent.com/assets/3139199/16574575/08b4d49a-42b3-11e6-9360-c4d7b532d603.jpg)

below is I have done in ios:
![2](https://cloud.githubusercontent.com/assets/3139199/16574599/4a0994da-42b3-11e6-995e-6973fdefd626.jpg)

[2016-07-05 05:39] vipulasri commented on #15
I think according to my code or implementation of Timeline view this was supposed to happen. I will have to change the implementation of it, according to this case. Can you provide me the link to above iOS library of yours? One more thing can you tell me the implementation logic of your iOS Library?

[2016-07-06 00:33] caotian commented on #15
I did it myself in ios, not using any library, just by customized tableview cells.

[2016-08-16 07:33] shauliAl opened #16 "Changing marker color"
Hi ,
Is there a way to change the marker's color?

[2016-08-16 07:47] vipulasri commented on #16
see this [#2](https://github.com/vipulasri/Timeline-View/issues/2)

[2016-08-16 07:47] #16 closed

[2016-08-24 10:14] jretorna opened #17 "markerInCenter programmatically"
Hello,

Is it possible to set marker in center programmatically please ?

[2016-08-24 16:11] vipulasri commented on #17
@jretorna currently there is no way of doing it programmatically. I have intentionally not provided that option as the position of marker is determined during the declaration in XML. Changing its position dynamically will give an irregular TimeLine View which will result in bad UI.

Can you please explain me your use case?

[2016-08-25 06:34] jretorna commented on #17
I just wanted to insert an unique timeline view in a header to show if the clicked point is the first, the last or a point in the middle. But I managed to do what I wanted using an other method, calling initLine with the  parameter BEGIN, NORMAL or END.
Thx

[2016-08-25 18:08] #17 closed

[2016-09-09 09:10] midiao opened #18 "How can i change the last indicator's color?"
The indicator's color is determined by maker.

[2016-09-09 14:47] vipulasri commented on #18
you can find your answer at [#2](https://github.com/vipulasri/Timeline-View/issues/2)

[2016-09-09 14:47] #18 closed

[2016-09-29 07:08] swapthedude9423 opened #19 "Is it possible to change marker dynamically?"
I am using it for music player. I want to change drawable from play to pause and vise versa. Can i do so in this library?

[2016-09-29 07:22] #19 closed

[2016-09-29 07:26] vipulasri commented on #19
@swapthedude9423 you can definitely do it by using a custom drawable for both states (Play and Pause). And inorder to switch between states. see this answer https://github.com/vipulasri/Timeline-View/issues/11

[2016-10-15 04:18] jervan commented on #15
Looks like the iOS implementation adjusts the layout margins to keep the marker in the center of the view as well as the view the same size even with larger marker size.

[2016-12-26 09:27] erehmi opened #20 "Timeline-View requires that my adapter can't have two or more item view types."
The sample source, as follows:
[code]
And check the `TimelineView.getTimeLineViewType(...)` function, as follows:
[code]
As mentioned above, if use Timeline-View, then the adapter just have 4 item view types(They are : LineType.ONLYONE, LineType.BEGIN, LineType.END and LineType.NORMAL).
**That is to say that Timeline-View assume that the developer defines only ONE type of item view. If defines two

[2016-12-26 09:56] erehmi commented on #20
If use the solution above, the max count of item view types is:
**4 x N**

p.s. N is the count of item view types defined by the developer

[2017-01-09 07:35] nahba opened #21 "Change Line Color Dynamically As Per Position"
Hi there,

Is there any way to change line color dynamically as per position? I mean to say that initially lines are drawn with gray color. Now as position gets changed based on button click, upto that position line's color changes to red. For example, I have 5 markers. All makers color are gray initially along with lines. Now I press button so my current position is 1. Now I want to change color

[2017-01-09 08:54] vipulasri commented on #21
@nahba Yes you can change the color of line using `setStartLine()` and `setEndLine()` methods.

[2017-01-09 12:40] nahba commented on #21
@vipulasri Those methods takes `Drawable`. I have passed shape created using `xml` (as below) but did not work.

`<?xml version="1.0" encoding="utf-8"?>
<shape
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:shape="line">
	<solid android:color="@color/colorPrimaryDark"/>
	<stroke android:width="2dp"
		android:color="@color/colorPrimaryDark"/>
</shape>`

[2017-01-13 06:04] mccccccmike opened #22 "Hi,could you please add dotted effect for your awesome Timeline-View?"

[2017-02-08 13:38] pavankr1 opened #23 "Issue displaying Large images on the timeline"
Using Timeline-View to display images. Images that exceed 1mb don't seem to show up.

[2017-02-09 05:35] vipulasri commented on #23
@pavankr1 I would suggest not to use images that much of size as it will require much more processing on the device each time it is drawn. GPU will have to do extra processing for each element while drawing. It is recommended to use vector drawable's(size around 1KB ~ 3KB) as android now support them, which will even reduce your app size as well as you don't have put each density dependent drawabl

[2017-02-09 05:35] #23 closed

[2017-02-09 07:26] pavankr1 commented on #23
Thanks for getting back. will try that.

[2017-02-23 14:26] liveneato opened #24 "ImageView instead of marker"
Anyway to change the green marker to an ImageView?

[2017-02-24 13:16] vipulasri commented on #24
@liveneato No, you cannot set drawable to `ImageView` but definitely you can change the green marker to any other drawable you want.

[2017-02-25 12:58] vipulasri commented on #21
@nahba added in library v1.0.4

[2017-02-25 12:58] #21 closed

[2017-03-05 16:59] Frankenstein666 opened #25 "how to remove line above the first item in the recyclerview and line below the last item in the recyclerview?"
how to remove line above the **first** item in the recyclerview and line below the **last** item in the recyclerview?

[2017-03-05 17:16] vipulasri commented on #25
Please see README.

Override getItemViewType() method in your recylerview adapter

 @Override
    public int getItemViewType(int position) {
        return TimelineView.getTimeLineViewType(position,getItemCount());
    }

You can also see the sample app, link can be found in README

[2017-03-08 03:49] #25 closed

[2017-03-08 03:49] #24 closed

[2017-03-08 04:01] vipulasri commented on #20
@erehmi You can definitely use View Types other than 1 to 4.

[2017-03-09 01:55] vipulasri commented on #3
Closing due to Inactivity

[2017-03-09 01:55] #3 closed

[2017-03-09 02:00] vipulasri commented on #15
@jervan  I have a workaround for you, you can simply apply the big drawable as marker and while you are applying smaller marker by calculating the smaller drawable `width - bigger drawable width` apply that much padding to smaller one. One more thing `linePadding` has introduced in `v1.0.5` so that you can apply similar line effect of ios on android

[2017-03-10 13:32] #14 closed

[2017-03-12 02:46] liveneato commented on #24
I kind of came up with a solution to get the effect I wanted. Here it is below:

 <RelativeLayout
        android:layout_width="wrap_content"
        android:layout_height="match_parent">

        <com.github.vipulasri.timelineview.TimelineView
            android:id="@+id/timelineView"
            android:layout_width="wrap_content"
            android:layout_height="match_parent"
            and

[2017-03-13 17:05] ahmetcavdar opened #26 "How to implement Timeline in a Fragment with ViewPager"
public class IslemlerFragment extends Fragment {

    private static final String ARG_PARAM1 = "param1";
    private static final String ARG_PARAM2 = "param2";
    // TODO: Rename and change types of parameters
    private String mParam1;
    private String mParam2;

    private RecyclerView mRecyclerView;
    private TimeLineAdapter mTimeLineAdapter;
    private List<TimeLineModel> mDataList = ne

[2017-03-13 17:12] vipulasri commented on #26
@ahmetcavdar Please show crash log.

[2017-03-13 17:18] ahmetcavdar commented on #26
03-13 20:16:26.518 19317-19317/com.makronik.hesaptakibi D/Zygote: CtrlSocket libc.so ctrl_sockets_set_addr pfunc is not exist!
03-13 20:16:26.528 19317-19317/com.makronik.hesaptakibi I/art: Late-enabling -Xcheck:jni
03-13 20:16:26.568 19317-19317/com.makronik.hesaptakibi D/ActivityThread: ActivityThread,attachApplication
03-13 20:16:26.588 19317-19317/com.makronik.hesaptakibi D/HwCust: Create obj

[2017-03-13 17:28] vipulasri commented on #26
@ahmetcavdar according to log, the error lies in your `TimelineViewHolder` you might have not properly implemented `Timeline` using `findViewById`. Please check the initialization of views.

[2017-03-13 17:40] ahmetcavdar commented on #26
public class TimeLineViewHolder extends RecyclerView.ViewHolder {

    @BindView(R.id.text_timeline_date)
    TextView mDate;
    @BindView(R.id.text_timeline_title)
    TextView mMessage;
    @BindView(R.id.time_marker)
    TimelineView mTimelineView;

    public TimeLineViewHolder(View itemView, int viewType) {
        super(itemView);

        ButterKnife.bind(this, itemView);
        mTimeline

[2017-03-13 17:48] vipulasri commented on #26
Can you please upload the project, so that I can take a look?

[2017-03-13 17:52] ahmetcavdar commented on #26
I found the problem

    public class TimeLineViewHolder extends RecyclerView.ViewHolder {

    public TextView mDate;
    public TextView mMessage;
    public  TimelineView mTimelineView;

    public TimeLineViewHolder(View itemView, int viewType) {
        super(itemView);

        mDate = (TextView) itemView.findViewById(R.id.text_timeline_date);
        mMessage = (TextView) itemView.findViewB

[2017-03-13 17:53] #26 closed

[2017-03-21 11:33] Frankenstein666 opened #27 "issue with vector drawable below sdk version less than 21"
I am getting a crash because of  following exception:

_`android.content.res.Resources$NotFoundException: File res/drawable-xxhdpi-v4/ic_marker_active.png from xml type xml resource ID #0x7f020071. If the resource you are trying to use is a vector resource, you may be referencing it in an unsupported way. See AppCompatDelegate.setCompatVectorFromResourcesEnabled() for more info.`_

any idead what

[2017-03-21 11:50] vipulasri commented on #27
See this example of making Vector Drawables compatible below lollipop, [TimeLineAdapter](https://github.com/vipulasri/Timeline-View/blob/master/app/src/main/java/com/github/vipulasri/timeline/TimeLineAdapter.java) and [VectorDrawableUtils](https://github.com/vipulasri/Timeline-View/blob/master/app/src/main/java/com/github/vipulasri/timeline/utils/VectorDrawableUtils.java) to support vector drawabl

[2017-03-28 03:22] #27 closed

[2017-04-13 08:04] yugandhar56 opened #29 "unable to use it programtically"
i am not getting line between markes. i am using this programmatically my code is

[code]

[2017-04-19 12:33] YogeshLegendkiller opened #30 "How to Connect two textviews with timelineview statically ?"

[2017-06-06 05:54] Vic003 opened #31 "hiding the first half marker line on first TimeLineView."
Is there is any option to hide the first half marker line of the TimeLineView on very first so it look something like this.
O--------O--------O----
instead of
----O--------O--------O----

[2017-06-06 06:05] vipulasri commented on #31
@Vic003 This cannot happen. Please share your code.

[2017-06-06 06:54] Vic003 commented on #31
@vipulasri in your TimeLineView are these codes are drawing the line

  if(mStartLine != null) {
                mStartLine.setBounds(0, pTop + (mBounds.height()/2), mBounds.left - mLinePadding, (mBounds.height()/2) + pTop + mLineSize);
            }

            if(mEndLine != null) {
                mEndLine.setBounds(mBounds.right + mLinePadding, pTop + (mBounds.height()/2), width, (mBounds.hei

[2017-06-06 06:58] vipulasri commented on #31
@Vic003 you need to override `getItemViewType()` method in your recyclerview adapter. Its nothing to do with my `TimelineView` code.

[code]

Please see [sample app code](https://github.com/vipulasri/Timeline-View/tree/master/app).

[2017-06-06 07:01] vipulasri commented on #31
@Vic003
To get this ----O--------O--------O---- output, don't override `getItemViewType()` method in your RecyclerView adapter.

[2017-06-06 07:01] #31 closed

[2017-06-08 11:19] GitHubMurt opened #32 "Drawable Marker doesn't support SVG drawables"
It's common issue that in order to use SVG on pre-KitKat you have to use in ImageView
app:srcCompat instead of android:src.

The same situation here, but not handled. It throws exception.

[2017-06-08 11:26] vipulasri commented on #32
@GitHubMurt You can definitely use SVG's in Drawable Marker. I have already added the code for that in the [sample app](https://github.com/vipulasri/Timeline-View/tree/master/app). Please look at below code in [TimeLineAdapter](https://github.com/vipulasri/Timeline-View/blob/master/app/src/main/java/com/github/vipulasri/timeline/TimeLineAdapter.java)

[code]

Use `VectorDrawableCompat` to support

[2017-06-08 11:26] #32 closed

[2017-06-08 11:28] vipulasri commented on #30
@YogeshLegendkiller can you please elaborate your issue?

[2017-06-08 11:51] GitHubMurt commented on #32
Ok, but let's try put your drawable directly inside XML, not In a RecyclerAdapter

[2017-06-08 11:57] vipulasri commented on #32
Currently, It doesn't support vector drawables in XML directly. You can set vector drawables dynamically to Timeline View.

[2017-06-08 12:12] GitHubMurt commented on #32
Ok Thanks, It may be helpful for other if you will put that information in the main page

[2017-06-08 12:15] vipulasri commented on #32
Yeah sure. I will take it as note and add it asap. Actually, I didn't add support of vector drawables directly through xml as it will unnecessarily increase the size of library (just by addition of support-vector-drawable library).

[2017-06-13 07:34] svkdvlp opened #33 "How can I add Timeline-View with only two views without recyclerview?"
I have two card-views.want to add a Timeline-View with them.
This is not in recyclerview.

[2017-06-13 07:44] vipulasri commented on #33
@svkdvlp you can simply add XML in card view.

[code]

[2017-06-13 07:44] #33 closed

[2017-06-27 11:28] bharath-koteswarao opened #34 "Is there any way to clip the bottom most line without touching the end of screen ?"
<b>It is not good to see the line touching both the ends of screen. It would have been good if there is some way to clip the first and last lines</b>
<br/>
And by the way thanks a lot for making such a wonderful view. I'm using it in my app <strong>Wheelo</strong>

[2017-06-27 15:50] vipulasri commented on #34
@bharath-koteswarao can you please show me the screenshot and code, as I am not able to get the issue you are facing.

[2017-06-28 05:36] bharath-koteswarao commented on #34
It has been resolved. I had some margin to layout initially so I've faced this

[2017-06-28 05:36] #34 closed

[2017-07-11 13:02] sandeshlasnapure commented on #22
Any update on this?

[2017-07-11 16:06] vipulasri commented on #22
@sandeshlasnapure not yet, still working on it.

[2017-07-11 16:12] sandeshlasnapure commented on #22
ok thanks

[2017-07-24 09:18] MakoFeng commented on #22
Any update on this?

[2017-07-24 10:33] vipulasri commented on #22
@MakoFeng  not yet.

[2017-08-16 11:29] FajarKhan opened #35 "How to add Footer to this Library?"
Can someone explain how to add footer to this library?

Thanks!

[2017-08-16 11:32] vipulasri commented on #35
@FajarKhan Please checkout @vidia answer on this issue #1 . He has implemented Header, you need to add Footer so modify the code accordingly.

[2017-09-06 11:36] pedroseabra1091 opened #36 "Change marker color after a click"
I am trying to change the marker color after an item click. However, it seems `setMarkerColor()` only works on the `onBindViewHolder()`. Is this true?

[2017-09-07 01:53] vipulasri commented on #36
Yes, it will change its state on `onBindViewHolder` but you can still change the marker color by getting the particular view holder by using `getAdapterPosition()` and then make marker color changes to that view holder.

[2017-09-07 01:53] #36 closed

[2017-09-07 09:58] pedroseabra1091 commented on #36
Hey sorry to bother you again. But this not true. I am able to change background color within the view holder, however i cannot change the marker color.

`
public static class HistoryViewHolder extends RecyclerView.ViewHolder {
...
@OnClick(R.id.item_history_wrapper)` void pressHistoryPoint() {
      historyLine.setMarkerColor(ContextCompat.getColor(root.context, R.color.colorAccent));
      root.

[2017-09-08 05:23] vipulasri commented on #36
@pedroseabra1091 You need to get the holder first and then apply the marker color. I would suggest maintaining a state variable in your custom object.

[2017-10-01 19:07] tprochazka commented on #20
I think that much better would be possible to update existing view to the different state.
I mean that instead of initLine() there will be setViewType() that will always update the rendering mode.
I don't need any benefit to create several different view types according view type. It sill call the onDraw() method when item is displayed, there is no caching.

[2017-10-01 20:24] tprochazka commented on #20
I did it here
https://github.com/tprochazka/Timeline-View/commit/375ab03d8474849bea7c81d522380b2912a77890

[2017-10-08 13:55] vipulasri commented on #30
closing this due to inactivity.

[2017-10-08 13:55] #30 closed

[2017-11-07 22:23] satyres opened #38 "How to start the first timeline with a dot not line?"
Hi , first thank you for this nice library ,
I searched a lot but did not find how to start the first timeline with a dot not line?
please tell me how to do it like this
https://raw.githubusercontent.com/vipulasri/Timeline-View/master/art/showcase.png
Best regards

[2017-11-08 03:50] vipulasri commented on #38
@satyres Please check out the[ sample code](https://github.com/vipulasri/Timeline-View/tree/master/app) and README. All things are already mentioned.

[2017-11-08 03:50] #38 closed

[2017-11-08 14:58] satyres commented on #38
Thank you so much for your help !
got it now :)

[2017-11-20 09:35] 6AnkitaShetty opened #39 "Timeline-View delete items from recyclerview"
Can someone explain how to remove items from recyclerview using this library?

Eg.
 if (TextUtils.isEmpty(timeLineModel.getDisplayName())) {
           //delete holder.itemView
        }

[2017-11-20 10:01] vipulasri commented on #39
@6AnkitaShetty this is related to `RecyclerView` not `Timeline-View`.
P.S: use `list.remove(position)` then `notifyItemRemoved(position);`
Checkout these SO Answers for better understanding https://stackoverflow.com/a/33211061/3140227

[2017-11-20 10:01] #39 closed

[2017-11-27 12:19] GitHubMurt opened #41 "Line is broken"
Hey lines those connect icons (markers) are not painted correctly.
<img width="43" alt="zrzut ekranu 2017-11-27 o 13 09 02" src="https://user-images.githubusercontent.com/12357195/33266313-62344240-d375-11e7-800d-b632fb02ee66.png">

After I scroll down, and then scroll up (recycle mechinism) line move to the correct place

Height of my element on the list is not constans ( sometimes more text in m

[2017-11-27 12:22] vipulasri commented on #41
Hey, can you please share some your code. So that I can look into the
problem.

On 27-Nov-2017 5:49 PM, "Piotr" <notifications@github.com> wrote:

[2017-12-12 01:09] 1253062595 opened #42 "the line does not show"
the line does not show up when i use your view by gradle, my code is below, can you help me find the problem?
-----------------------------------------------------------------------------
<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"

[2017-12-12 03:19] vipulasri commented on #42
@1253062595 Please show the whole code for `RecyclerView Adapter`

[2017-12-12 06:02] 1253062595 commented on #42
I 've solved the problem.
I change the root layout from RelativeLayout to LinearLayout, then it shows the line.
------------------------------------------------------------------------------
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"

[2017-12-12 07:35] #42 closed

[2018-01-22 09:59] YogeshLegendkiller commented on #22
first of all i must thank you for the fantastic lib ,  only dotted line is missing any updates on this?

[2018-01-22 13:38] vipulasri commented on #22
This will take sometime as I will have to  re-write the logic

[2018-01-27 13:41] shreymisra opened #44 "Position of marker"
I want to change to postion of the marker on the top of the line and not in the center of the line in a particular view . Is that possible ? Please Help.

[2018-01-27 14:09] vipulasri commented on #44
@shreymisra just add `app:markerInCenter="false"` to your xml and add `app:paddingTop="<value>` to adjust the position

[2018-01-27 14:09] #44 closed

[2018-01-31 08:43] gowsikbrigita opened #45 "How to reduce line height for first and last elements?"

[2018-01-31 08:59] vipulasri commented on #45
@gowsikbrigita currently, there's no way to reduce line height for the first and last element. But yes you can remove the top line from the first element and end line from the last element.

[2018-01-31 08:59] #45 closed

[2018-01-31 09:20] gowsikbrigita commented on #45
Hi in the screenshot  the the upper half of  the first element is not visible how can i achieve this
![untitled](https://user-images.githubusercontent.com/18347093/35614694-f5980be0-0695-11e8-8962-42846804d869.jpg)

[2018-01-31 09:42] gowsikbrigita commented on #45
@vipulasri  hey Sorry .... I forgot to call    initLine(viewType);  My bad....
Thanks for the reply....

[2018-02-06 14:53] romitarora commented on #41
I am also getting same issue of @GitHubMurt ... in nexus 4(5.1.1) its working but in samsung mini 4 (4.4.2) not working. when i scroll recyclerview and come back its working.

[2018-02-07 14:39] romitarora commented on #41
Sorry @vipulasri , this is my mistake, only notifyItemChanged() is not working in my case so i changed it to  **notifyItemChanged(i)** and its working now.

[2018-02-07 16:25] #41 closed

[2018-03-11 08:29] pfieffer opened #46 "Extra line in First and last items"
Hey, I have gone over the sample app provided and the methods available. But I cannot seem to remove the extra line spacing. I mean I have an Adapter, an item view and a recycler view, where I am loading the item views with the help of adapter.
How can I disable that extra line on the first and last items.
I maybe missing something simple and I am sorry that I am posting this as an issues but I co

[2018-03-11 12:12] vipulasri commented on #46
@pfieffer You must have skipped this line: https://github.com/vipulasri/Timeline-View/blob/588cb23f599142b8958e30f9329c17094a428247/app/src/main/java/com/github/vipulasri/timelineview/sample/TimeLineAdapter.java#L39

[2018-03-11 13:00] pfieffer commented on #46
@vipulasri Thank you very much. I had a doubt that this was the problem back then, but I got caught up in implementing other stuffs and missed this. Thank you very much.

[2018-03-11 13:00] #46 closed

[2018-03-27 10:24] KKaKa opened #47 "can set the length of the line？"
can set the length of the line,such as setLineSize()

[2018-03-27 10:27] vipulasri commented on #47
Yes, you can use `setLineSize()`. This method already exists.

[2018-03-27 10:27] #47 closed

[2018-03-27 10:37] KKaKa commented on #47
nonono , i mean to make it longer

[2018-03-27 10:43] vipulasri commented on #47
You can do that, by changing the size of the TimelineView itself.

[2018-04-09 23:19] shreymisra opened #48 "add marker on the top"
how do I add the marker on the top of the line which is now appearing in the center of the line?

[2018-04-10 00:36] vipulasri commented on #48
@shreymisra Just add this attribute to the Timeline View: `app:markerInCenter="false"` and then using `paddingTop` & `paddingBottom` you can adjust its position.

[2018-04-10 00:36] #48 closed

[2018-04-23 07:54] agonavd opened #49 "When setting recyclerview to reverselayout the cards don't fit correctly."

[2018-04-26 11:24] kvipul opened #50 "In api<21 getting error: Error inflating class com.github.vipulasri.timelineview.TimelineView"
Getting an app crash while testing library in api 16

`E/AndroidRuntime: FATAL EXCEPTION: main
                                                                    android.view.InflateException: Binary XML file line #0: Error inflating class com.github.vipulasri.timelineview.TimelineView
                                                                        at android.view.LayoutInflater.createVie

[2018-04-26 11:37] kvipul commented on #50
Solution:
(This is a workaround until admin doesn't fix the issue in library)
I was using vector drawables for marker in xml files. You can't simply use vector drawables for api<21. Here is a solution that I found helpful for using vector drawables for api<21 [Stackoverflow link](https://stackoverflow.com/a/40523623/5745574)

So after using above solution try avoiding setting app:marker attributes

[2018-04-26 11:38] #50 closed

[2018-04-26 11:56] vipulasri commented on #50
You cannot set vector drawable from XML and I won't even support in near future.
You can also see the sample app, which includes code to dynamically set vector drawable to marker(works on pre-lollipop) as well.

[2018-04-26 12:04] kvipul commented on #50
In that case I suggest you to mention this in readme file so that in future people are aware of this before using the library.

Thanks 😄

[2018-05-18 05:37] SachinTanpure opened #51 "App crashed on pre lollipop device"
Device details
Samsung galaxy S3 SGH-T999, Android 4.3
Lava irisX8, Android 4.4

compileSdkVersion 25
buildToolsVersion "25.0.2"
i am using 'com.github.vipulasri:timelineview:1.0.6'

System log is as follows
FATAL EXCEPTION: main
                      java.lang.IllegalArgumentException: radius must be > 0
                          at android.graphics.RadialGradient.<init>(RadialGradient.java:53)

[2018-05-18 09:37] vipulasri commented on #51
@SachinTanpure I will look into. Thanks for mentioning.

[2018-05-20 04:25] vipulasri commented on #51
@SachinTanpure Cna you show me your code?

[2018-05-20 12:13] SachinTanpure commented on #51
@vipulasri Sorry to bother you, issue was from my side.

[2018-05-20 12:13] #51 closed

[2018-05-20 12:14] #35 closed

[2018-05-20 12:16] vipulasri commented on #29
@yugandhar56 This library is supposed to be used with `RecyclerView` not standalone.

[2018-05-20 12:16] #29 closed

[2018-06-10 22:46] ahmed0123 opened #54 "Why app crashes when use this library on 4.4.2 android version?"

[2018-07-19 17:06] OhHoney34 opened #55 "How to have many different markers on timeline"
I am looking to use this to add many different markers to the timeline. Sort of like time stamps. How would I do this?

[2018-07-20 04:29] vipulasri commented on #55
You can change the marker dynamically using `setMarker()` method at different positions.

[2018-07-20 04:29] #55 closed

[2018-07-20 04:30] vipulasri commented on #54
@ahmed0123 Please provide more information on this issue. Because I tried the app on 4.4.2 and it worked perfectly.

[2018-07-25 10:00] pacosta commented on #54
This error,

If the resource you are trying to use is a vector resource, you may be referencing it in an unsupported way. See AppCompatDelegate.setCompatVectorFromResourcesEnabled() for more info.

when calling setMarker() with a vector drawable.

[2018-07-25 16:13] vipulasri commented on #54
The library doesn't support `VectorDrawables` as supporting it will unnecessarily increase the library size. You need to use `VectorDrawableCompat` and then set the resulting drawable to `setMarker()` method.

[2018-07-25 16:13] #54 closed

[2018-09-05 07:19] Devspm opened #56 "Different View types!."
Hello there,
Thanks for the nice library, How can I create multiple view types ?

[2018-09-05 16:35] vipulasri commented on #56
@Devspm You can different types of view as you would do normally but just exclude the certain view types (see : [LineType)](https://github.com/vipulasri/Timeline-View/blob/master/timelineview/src/main/java/com/github/vipulasri/timelineview/LineType.java) while declaring/giving your views

[2018-09-05 16:35] #56 closed

[2018-09-06 07:44] Devspm commented on #56
I overrode getItemViewType with my view type as you said and it works but ,I can't disable the lines at starting and ending poistion.See the image below.
![screenshot_1536219621](https://user-images.githubusercontent.com/34958091/45142651-aab66d00-b1d6-11e8-8501-2faf63eab433.png)

[2018-09-06 12:13] Devspm commented on #56
you mean here,

`@Override
    public int getItemViewType(int position) {
        switch (timeLines.get(position).getType()) {
            case 20:
                return SIDE_BIT;
            default:
                return MAIN_ITEM;
        }
    }
`

won't using `TimelineView.getTimeLineViewType(position,getItemCount());`  be ignored here?

[2018-09-06 12:26] Devspm commented on #56
So, if i'm having multiple view types ,i cannot use `getTimeLineViewType`..

[2018-09-06 17:47] vipulasri commented on #56
You can use that in your else condition of your "getItemViewType()" method. As it will fallback to this automatically.
To properly show the timeline view you need to implement this anyhow.

[2018-09-12 06:45] balasaheb143 commented on #21
setStartLine(color,Type ) and setEndLine(coor ,Type ) not work i pass color but color not change

[2018-10-01 01:53] hardikvasa opened #57 "two or more activities for the same date"
Awesome project Vipul.

I have a use case where I want to show two or more activities for the same date/day and hence I do not want the marker to be shown but instead just a straight blue line in the timeline. Is this possible? If not, can you share a drawable XML for the same?

[2018-10-01 01:59] vipulasri commented on #57
I don't think there any solution for this kind of view but there's a workaround for this solution is setting the background colored marker drawable and setting it dynamically using
[code]
method.

[2018-10-01 02:16] hardikvasa commented on #57
Thanks for your quick response. Thats nice! One other way I was thinking is to bring down the marker size to some negligible size (for e.g. 3dp) so the timeline appears as a straight line.

If this feature is not going to be considered for this project, you can close this issue. Thnx.

[2018-10-01 03:03] vipulasri commented on #57
Yeah, you can manipulate the market size as well to achieve this.

[2018-10-01 03:04] #57 closed

[2018-11-15 08:30] son2017 opened #59 "change the progress progress postion from top to down"

[2018-11-16 03:17] vipulasri commented on #59
@son2017 Please elaborate your problem statement, help me with the help of a screenshot or wireframe.

[2018-12-11 10:07] YistxIn opened #60 "Sir, Can you add an option of "is reverse draw" ? so that we can choose drawing start by the mission's ending or the begining."

[2018-12-16 06:03] vipulasri commented on #22
@mccccccmike @sandeshlasnapure @MakoFeng @YogeshLegendkiller
New library version is available that supports this feature.

[2018-12-16 06:03] #22 closed

[2018-12-23 15:36] #20 closed

[2018-12-23 15:39] vipulasri commented on #1
After actually understanding this issue, it's totally out of scope for this library. If you still think this applies please open a new bug and provide supporting documents for that.

[2018-12-23 15:39] #1 closed

[2018-12-23 15:40] vipulasri commented on #49
@agonavd Please provide some screenshots and information to actually look into this issue and replicate the problem.

[2019-01-09 16:24] rockstarsantosh opened #61 "giving error invalid root mapping... Invalid VCS root mapping The directory <Project> is registered as a Git root, but no Git repositories were found there. Configure"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the following information):**
 - Device: [e.g. Pixel 2XL]
 - OS: [e.g. Android 9

[2019-01-12 10:30] milad7111 opened #62 "setLineWidth and setStartLineColor and setEndLineColor not work."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the following information):**
 - Device: [e.g. Pixel 2XL]
 - OS: [e.g. Android 9

[2019-01-12 13:54] vipulasri commented on #62
@milad7111 which version are you using?

[2019-01-12 14:08] vipulasri commented on #61
@rockstarsantosh which version are you using? Please fill the appropriate information:

While filling an issue there is some information which is supposed to be filled with it, so that I can better understand the issue.
There is no use of filling the issue with just a single line.

[2019-01-13 07:47] milad7111 commented on #62
Hi, Thanks, i am using V 1.1.0. i have an adapter that based on row TYPE, i want to change lineWidth but not work and there is no compile error or runtime error.  I changed lineColor eventually but lineWidth not worked. of course when i change LineWidth in xml, it worked.

Device: Galexy J7
OS : Android 7.0

[2019-01-13 07:49] #62 closed

[2019-02-05 08:50] tcqq opened #63 "Dashed error drawing"
@vipulasri Now dashed is drawing error on Timeline-View, can you fix this? Thank you.
![image](https://user-images.githubusercontent.com/10644057/52261903-c8465900-2965-11e9-8248-5fec6d715a0a.png)
![image](https://user-images.githubusercontent.com/10644057/52261876-b369c580-2965-11e9-84af-9294d1c43bfa.png)

[2019-02-12 14:20] tcqq opened #64 "Request to cancel static for getTimeLineViewType method"
@vipulasri Request to cancel static for getTimeLineViewType method. Because this makes it possible to use TimeLine properly in the FlexibleAdapter.

Check issues: https://github.com/davideas/FlexibleAdapter/issues/713

[2019-02-12 15:13] #64 closed

[2019-02-13 07:35] tcqq opened #66 "Request to add markerPaddingTop and markerPaddingBottom attributes"
Request to add markerPaddingTop and markerPaddingBottom attributes. In order to fine tune the marker position in the high item.
![tim 20190213153448](https://user-images.githubusercontent.com/10644057/52694521-edaa1700-2fa4-11e9-8de1-18689745db23.jpg)

[2019-02-13 14:11] Mozartuss opened #68 "Update marker live if status changed"
**Please excuse my poor English**

I have different events and the events have a duration. Is the Event active I want to set the active_marker and if the event is finished the inactive_marker. The marker changes work great, but i have to restart the Fargment to see the changes. Or turn my Phone to landscape mode to refresh the RecyclerView  :laughing: .
Is there a solution to update the marker dyn

[2019-02-14 03:56] vipulasri commented on #68
There's nothing to do with the library. RecyclerView has a property to update a particular `ViewHolder` against a certain position using `notifyDataSetChanged()`

[2019-02-14 03:56] #68 closed

[2019-02-18 16:48] mwshubham opened #70 "TImeline Attr Bottom sheet icon issue"
**Describe the bug**
Timeline attributes icon must be animated on the scroll. And it must point to downward whenever the bottom sheet is fully expanded.

**To Reproduce**
Click Options button on Main screen

**Expected behavior**
The arrow should point downward whenever the bottom sheet is fully expanded. And should dismiss the dialog when clicked

[2019-02-23 06:37] mwshubham commented on #66
Looks a good solution.

[2019-03-04 13:45] nerdyadventurer opened #71 "Manifest merger failed in Jetpack app"
**Describe the bug**
Get the following error when building the app
[code]

**To Reproduce**
- Create Simple Jetpack app
- Add Timeline-view dependency
- Build the app

**Expected behavior**
App build without any errors

-----------------------------------------------
Doing following
`Suggestion: add 'tools:replace="android:allowBackup"' to <application> element at AndroidManifest.xml:9:5-49:19 to

[2019-03-04 14:57] nerdyadventurer commented on #71
Issue does have in one of my projects that uses firebase, jetpack. But unable to reproduce on a new project.

[2019-03-04 14:57] #71 closed

[2019-03-13 08:43] jayellos opened #72 "How can I set a Text/String marker?"
**Is your feature request related to a problem? Please describe.**
I can't find a way to set the marker as Text/String.

**Describe the solution you'd like**
Can we add a setMarker accepting a Text/String?

[2019-03-24 04:22] madhankumardroid opened #73 "Please add support to handle different types of view items in a recycler view."

[2019-03-24 04:34] vipulasri commented on #73
Please explain the issue properly, vague issue title will not help me understand it. Also, while filing issue in description please fill out the different aspects of problem.

[2019-03-26 12:42] vineethmohanvvdn opened #74 "setStartLineColor and setEndLineColor not working"
I am trying to change color of timeline based on position and status from an adapter. but it is not working. I am trying this dynamically using conditions as follows:

` private fun setLineColor(holder: TimeLineViewHolder, position: Int, status: OrderStatus) {
        when (position) {
            0 -> {
                when (status) {
                    OrderStatus.COMPLETED -> holder.timeline.s

[2019-04-25 18:37] raquezha commented on #15
there's a temporary solution where you can solve this by putting the timeline view inside linear layout with fixed widthand gravity to center and set your timelineview with to wrap content

[code]

[2019-04-30 04:51] kpradeepkumarreddy opened #75 "Not seeing the line between markers"
I'm not seeing the line between the markers. I'm only seeing the markers

This is the code i'm using in my recycler item layout
 <com.github.vipulasri.timelineview.TimelineView
            android:id="@+id/timeline"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            app:endLineColor="@color/red_500"
            app:layout_constraintStart_to

[2019-05-01 03:43] vipulasri commented on #75
@kpradeepkumarreddy Can you show me some code supporting this.

[2019-05-01 14:59] bastolaxantos commented on #75
I just implemented this library and line is not showing between marker.

[2019-05-01 16:58] vipulasri commented on #75
@bastolaxantos Please show me some code so that I can help or point out where you are going wrong.

[2019-05-01 17:02] bastolaxantos commented on #75
This is adapter class:
`public class MessageListAdapter extends RecyclerView.Adapter<MessageListAdapter.ViewHolder> {

    private List<Message> messageItemList;
    private ItemClickListener clickListener;

    public MessageListAdapter(List<Message> messageItemList, ItemClickListener clickListener) {
        this.messageItemList = messageItemList;
        this.clickListener = clickListener;

[2019-05-01 17:08] vipulasri commented on #75
@bastolaxantos Adapter looks fine to me! can you show me your whole XML code? Or you can try using the library first in a separate sample app implementation.

[2019-05-01 17:16] bastolaxantos commented on #75
here is item_sms_group.xml

`<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:orientation="horizontal">

    <com.github.vipulasri.timelineview.TimelineView
        android:id="@+id/timeli

[2019-05-02 05:42] vipulasri commented on #75
@bastolaxantos You forgot to tell the `TimelineView` to match the height of the view.  Just replace `TimelineView` height from `wrap_content` to `match_parent`.

[code]

[2019-05-02 05:42] #75 closed

[2019-05-12 23:08] ZoneTYJ commented on #75
I find default mDrawEndLine=false,mDrawStartLine=false.
can you support attr  with DrawEndLine, DrawStartLine,and method initLine(int viewType) ?

[2019-05-14 15:19] vipulasri commented on #74
@vineethmohanvvdn can you show me your XML code?

[2019-05-14 15:21] vipulasri commented on #72
@jayellos as of now there is no provision for that. Can you please specify your use case?

[2019-05-14 15:22] vipulasri commented on #70
@mwshubham thanks for the input will look into this.

[2019-05-14 15:25] vipulasri commented on #61
Closing this issue due to inactivity.

[2019-05-14 15:25] #61 closed

[2019-05-16 07:22] vineethmohanvvdn commented on #74
@vipulasri here am adding Timeline view to a Recycler view as child . here is my xml code
`<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
              xmlns:app="http://schemas.android.com/apk/res-auto"
              xmlns:tools="http://schemas.android.com/tools"
              android:orientation="vertical"
              android:layout_width="wrap_content"

[2019-06-24 06:20] paveltech opened #76 "ERROR: Failed to resolve: com.github.vipulasri:Timeline-View:v1.1.0"
My project convert to androidx and when i build this gradle this error shows.

**Smartphone (please complete the following information):**
 - Device: [e.g. Pixel 2XL]
 - OS: [e.g. Android 9.0]
 - Version [e.g. 28]

[2019-06-24 06:48] BenDenger commented on #74
any solutions here? i am facing the same issue.
could it be that this has something to do with the initLine call in the constructor? do i have to set the start/ end color before or after initLine()?

[2019-06-29 13:37] Avinash4201 opened #77 "can i use thise code in java"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the following information):**
 - Device: [e.g. Pixel 2XL]
 - OS: [e.g. Android 9

[2019-06-29 13:37] Avinash4201 commented on #77
I want java source code for your library

[2019-07-11 09:12] vipulasri commented on #76
@paveltech Please provide more information like logs etc. This information is so vague.

[2019-07-13 02:20] lucazin opened #78 "version 1.1.0"
Not working on android 9.0 in samsung a70

this version 1.1.0 not working when i put in my app java... but the 1.06 work normally.
But its strange when i download the sample app e run ..work fine..

gradle url project error ?

[2019-07-14 07:19] chitgoks opened #79 "Have setAdapter for TimelineView"
currently, it seems adapter is dependent on having it set in a recycleview

why not have the adapter be set directly to the timelineview?

[2019-07-15 03:38] vipulasri commented on #77
@Avinash4201 Java source code is not possible as moving forward everyone is opting for Kotlin.

[2019-07-15 03:38] #77 closed

[2019-07-15 07:04] vipulasri commented on #79
@chitgoks You need to set the adapter to recycler view. Which is a must!
Please refer to the official documentation: https://developer.android.com/guide/topics/ui/layout/recyclerview

[2019-07-15 07:04] #79 closed

[2019-07-15 07:05] vipulasri commented on #78
@lucazin can you explain what do you mean by v1.1.0 not working?

[2019-07-15 07:06] vipulasri commented on #72
Closing this issue due to inactivity

[2019-07-15 07:06] #72 closed

[2019-07-15 11:13] chitgoks commented on #79
hi vipulasri. thank you. im familiar with that. what i do not understand is in your sample code, and documentation the XML is <com.github.vipulasri.timelineview.TimelineView/>

So TimelineView is not to be used anymore but RecyclerView?

[2019-07-15 13:10] lucazin commented on #78
not compile in 9.0 in my app

just the older version.

[2019-07-15 13:54] YahiaZZ opened #80 "Changing CardView"
**Describe the bug**
When I try to change `<com.google.android.material.card.MaterialCardView` by `<android.support.v7.widget.CardView` , the view is shifted

**To Reproduce**
Use `<android.support.v7.widget.CardView`

**Expected behavior**
timeline View

**Screenshots**

![screeshot](https://user-images.githubusercontent.com/13751183/61221391-55a98880-a710-11e9-982f-e86a2edb506f.jpg)

**Smartphon

[2019-07-17 05:19] vipulasri commented on #79
@chitgoks Yes, TimelineView is used in the item of RecyclerView

[2019-07-17 05:20] vipulasri commented on #80
@YahiaZZ Can you please show me your layout XML?

[2019-07-17 05:21] vipulasri commented on #78
@lucazin Let me check on this.

[2019-07-17 09:19] YahiaZZ commented on #80
Hi @vipulasri,
Thank you for your answer,
Please find below the layout XML:

[code]

[2019-07-19 03:21] vipulasri commented on #78
@lucazin can you show the log of error?

[2019-08-21 09:28] JibuVarghese commented on #74
@vipulasri Any solution to this. I am also facing the same issue.

[2019-08-22 12:49] rmpt opened #81 "Space between TimelineView"
**Describe the bug**
A white space appear between the TimelineViews on the list.

**To Reproduce**
I've costumize the item view content and added a TextView that can have multiple lines. If I limit the number of lines to 1, everything works ok, if I have more than one line, the white space appears.

**Expected behavior**
The line should reach the next TimelineView.

**Screenshots**
Limited to 1 li

[2019-09-03 04:05] riocallos opened #82 "Horrizontal timeline cards in bottom"
Is it possible to put the cards below the timeline for horizontal view?

[2019-09-03 06:34] vipulasri commented on #82
@riocallos This is totally up to you, How you wanna implement your view. This has nothing to do with the library.

[2019-09-03 06:34] #82 closed

[2019-09-25 15:44] vipulasri commented on #76
Closing this issue due to inactivity

[2019-09-25 15:44] #76 closed

[2019-09-25 15:44] vipulasri commented on #78
Closing this issue due to inactivity

[2019-09-25 15:44] #78 closed

[2019-09-28 14:19] #66 closed

[2019-09-29 14:16] vipulasri commented on #66
Released v1.1.1

[2019-09-30 04:39] vipulasri commented on #81
@rmpt can you tell me the following:
1. No. of items in the list
2. Can you send me the sample project/code so that I can look into the matter properly?

[2019-09-30 04:41] vipulasri commented on #74
@vineethmohanvvdn @BenDenger Have you implemented the adapter properly?

[2019-09-30 05:04] #70 closed

[2019-10-18 11:26] kaushalyap opened #83 "Make time line time sensitive"
**Is your feature request related to a problem? Please describe.**
Currently Timeline-View is custom view with recyclerview it's not time sensitive. (gaps between items are same)

**Describe the solution you'd like**
Make Timeline-View time sensitive, so that the item gaps are proportional to the when the even occurred. If time gap is relatively large use a zig-zag to denote that.

Take a look at

[2019-10-18 11:55] vipulasri commented on #83
@kaushalyap The scenario you are saying is not general, the library is made keeping in mind that it can be used for any general-purpose tracking irrespective of any specific scenario( in your case: time).
P.S: Don't misunderstand the name of the library with actual relationship with time.

[2019-10-18 11:55] #83 closed

[2019-10-19 11:55] vipulasri commented on #63
This is fixed in library v1.1.2

[2019-10-19 11:55] #63 closed

[2019-11-14 03:23] alvin96 opened #85 "Dynamic Progress Line"
As the example shown below, the length of line is actually filled according to the given number which is a quite useful feature. Can this library achieve something similar like this?
![ss](https://user-images.githubusercontent.com/20142859/68824052-93271e00-06d0-11ea-97d2-d4070d7f2980.jpg)

[2019-11-15 05:36] naveen-nuveda opened #86 "Not seeing the line between markers in AndroidX"
**Describe the bug**
Not seeing the line between markers after I converted my project to androidx.

**To Reproduce**
Create a sample project in non-androidx , line is visible and now convert project to androidx and now line is not visible

**Expected behavior**
When the library is converting to androidx?. It should support androidx

**Screenshots**
[https://ibb.co/0Djr6Dr](url)

**Smartphone (plea

[2019-11-15 06:10] vipulasri commented on #86
@naveen-nuveda, for now, you can use
`
android.useAndroidX=true
android.enableJetifier=true
`

[2019-11-15 07:01] naveen-nuveda commented on #86
Sorry I missed initLine part which was working on before without inline.
Now I added this showing line between markers

[2019-12-12 06:34] rohit6027 opened #88 "implement animation"
How to implement animation like flipkart ??

[2019-12-12 06:58] vipulasri commented on #88
@rohit6027 This library doesn't support it and it will difficult to support it. What you are looking for is called steppers.

[2019-12-12 06:58] #88 closed

[2020-01-04 15:07] vipulasri commented on #80
The issue is related to your layout.

[2020-01-04 15:07] #80 closed

[2020-01-04 15:08] vipulasri commented on #74
Closing this issue due to inactivity.

[2020-01-04 15:08] #74 closed

[2020-01-04 15:09] vipulasri commented on #73
Closing this issue due to inactivity.

[2020-01-04 15:09] #73 closed

[2020-02-17 06:21] basriumar12 opened #89 "Androidx support"
is the version 1.1.3 support androidx?

[2020-02-17 10:18] #89 closed

[2020-02-29 22:42] fllaryora commented on #86
Please, reopen this.
From my point of view, I can see the reason to call this method.

[2020-03-02 05:35] vipulasri commented on #86
@naveen-nuveda can you re-attach the image or screenshot and explain the issue

[2020-03-02 05:52] naveen-nuveda commented on #86
@vipulasri sorry I can't able to produce screeenshot as of now.
**Francisco Llaryora** suggested to reopen this issue.
for my analysis older versions no need to call **initLine** method. this change breaks entire flow who just updated version in gradle and they didn't change any thing.
Why can't we make **initLine** should automate

[2020-03-02 06:04] vipulasri commented on #86
@naveen-nuveda `initLine` method has been there from start, though I get your concern as its custom view not a custom recycler view adapter. So, I don't think I can do much about it.

[2020-03-02 06:10] naveen-nuveda commented on #86
Okay Thanks.  I am closing this issue

[2020-03-02 06:10] #86 closed

[2020-03-05 09:13] dondell opened #90 "Marker is invisible when markerInCenter is set to true"
**Describe the bug**
I tried setting markerInCenter = true, but the marker will make it invisible

**To Reproduce**
markerInCenter = true

**Screenshot**
![Screenshot_20200305-171708](https://user-images.githubusercontent.com/4174860/75966513-71fb6f00-5f05-11ea-8f50-d7917b6138bd.png)

[2020-03-05 12:17] vipulasri commented on #90
Can you show me what all options you have applied on combination to that?

[2020-03-11 16:12] vipulasri commented on #90
@dondell I have fixed the issue in new release i.e 1.1.4
I will update the sample as well.

[2020-03-11 18:02] #90 closed

[2020-05-02 12:11] DenShlk opened #91 "Public access to TimelineView.LineType"
I use Timeline view in recyclerview, and I want to set linetype in my viewholder like `TimelineView.LineType.NORMAL`
Unfortunately, I have to copy LineType to Adapter class, because it has private access.
I think LineType can be public like  LineOrientation or LineStyle.

[2020-05-02 12:15] vipulasri commented on #91
@DenShlk You can add your custom implementation in `getItemViewType()` method in your recyclerview.

You can also check out the `TimelineView.getTimeLineViewType()` method in the library to get understand the library implementation and then add your custom one.

[2020-05-02 12:15] #91 closed

[2020-05-02 12:22] DenShlk commented on #91
Why my ItemTypes should be equal to LineType?

[2020-05-02 12:25] vipulasri commented on #91
Because on the basis of `LineType` int values, the library knows what to render if its Normal, Start or End line.

[2020-05-02 12:25] DenShlk commented on #91
Sorry, about that. I didn't know about getTimeLineViewType.
I see now, thanks for the reply!

[2020-07-07 07:43] lahari509 opened #93 "Not Change the color of the time line view in Java android"
Hi, I am using the vipulsari timeline library. I have a list of geolocation places in recycler view.  When I reached a certain place, I need to change the color of that dotted line as green color. But for me it shows a grey color . can you help me out why
the color is not changing.

My XML code is:

<?xml version="1.0" encoding="utf-8"?>

<LinearLayout xmlns:android="http://schemas.android.com/apk

[2020-07-07 07:49] vipulasri commented on #93
@lahari509 can you show me the XML and code you have configured?

[2020-07-07 08:05] lahari509 commented on #93
@vipulasri  i have added my xml and adapter class where i am changing the color of the line.

[2020-07-07 08:30] vipulasri commented on #93
@lahari509 In your adapter you are directly setting color, You need to set the color to start and end line using
`ContextCompat.getColor(this, R.color.green)`.

[2020-07-07 08:30] #93 closed

[2020-07-07 08:33] lahari509 commented on #93
@vipulasri where i need to write this code. I am getting the color from values and it is also showing the color.

[2020-07-07 08:38] lahari509 commented on #93
thanks its working now

[2020-07-07 08:41] lahari509 commented on #93
@vipulasri  But there is a problem why it is changing the whole timeline view instead of the reached point
![WhatsApp Image 2020-07-07 at 2 11 02 PM](https://user-images.githubusercontent.com/26715838/86750689-c4879c00-c05b-11ea-86e1-11404bc16c13.jpeg)

[2020-07-07 08:45] vipulasri commented on #93
That logic you need to handle in your code. Library isn't doing anything.

[2020-07-15 10:03] emrizkiem commented on #49
Done? i have the same problem, how to fixing the bug?

[2020-07-15 10:05] emrizkiem commented on #81
How to fixing the bug? i have the same problem

[2020-07-15 10:25] vipulasri commented on #81
@emrizkiem can you tell me the following:
1. No. of items in the list
2. Can you send me the sample project/code so that I can look into the matter properly?

[2020-07-16 02:20] emrizkiem commented on #81
https://pastebin.com/5BQz3Tnq

this is sample code

[2020-07-16 05:02] vipulasri commented on #81
Hey, it would be really helpful if you can provide me with a sample project which has this issue. It will be easier to debug and resolve.

[2020-07-16 08:20] rmpt commented on #81
it's very easy to replicate. I'll let you my XML:
[code]

The `onBindViewHolder` doesn't have anything special, the trick is in the TextView `stop_name`. Remove the min and max lines, set a very long text and you'll see it happening.

[2020-07-30 18:40] Hacchuu opened #94 "My card layout doesn't stretch to the parent width"
My card layout does not stretch to the parent width but it does in the preview of the card item xml. But once each card gets inflated it feels like it's wrap_content but in reality it's match parent. Is there any help?

[2020-07-30 18:42] vipulasri commented on #94
@Hacchuu can you please share the XML for the issue.

[2020-07-30 18:46] Hacchuu commented on #94
XML of my card Item.

<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_gravity="center_horizontal"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:layout_marginLeft="

[2020-07-30 18:50] vipulasri commented on #94
Please post the full XML, it's missing the root.

[2020-07-30 18:56] Hacchuu commented on #94
The item XML is whole except the linear layout
Entire main XML contains a card with many fields and down below is your recycler view.

<?xml version="1.0" encoding="utf-8"?>
<androidx.constraintlayout.widget.ConstraintLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    andro

[2020-07-30 18:58] vipulasri commented on #94
As far as I can see it's not the issue with the library but with your implementation. Hence, closing the issue.

[2020-07-30 18:59] #94 closed

[2020-09-02 08:52] Hacchuu opened #95 "Overiding getItemiewType to return Timeline.getTimeLineViewType"
I have many items in the recycler view. Due to fast scrolling, the item cards were getting shuffled in the timeline view. I learned that I would have to override two functions namely, getItemId and getItemViewType to return the position of the items in the recycler view to make sure they dont shuffle while scrolling fast.

But I am returning the Timeline.getTimeLineViewType functions's return call

[2020-09-23 04:25] abimanyu07 commented on #81
![Screenshot_1600834962](https://user-images.githubusercontent.com/34436433/93966561-3506a500-fd8f-11ea-9cd5-03a1ebafd549.png)

there is a line at the top at the initial marker, how do you get rid of it?

There are missing lines and lots of space, how do I fix it?

[2020-09-23 04:28] abimanyu07 commented on #81
![Screenshot_1600835239](https://user-images.githubusercontent.com/34436433/93966797-c8d87100-fd8f-11ea-95ed-c9d7c2e2d556.png)

There are missing lines and lots of space, how do I fix it?

[2020-09-23 04:34] vipulasri commented on #81
@abimanyu07 have followed all the steps there in readme? If you are seeing top line for the first marker you are probably missing the configuration mentioned in readme.

[2020-09-23 04:51] abimanyu07 commented on #81
I have followed the steps in the Readme but it's still like that, is there anything missing?

[2020-09-23 04:54] vipulasri commented on #81
@abimanyu07 have you looked at the adapter in sample app to check if you are missing something ? Still not able to get it? Can you please share the code of your implementation as a link?

[2020-09-23 04:58] abimanyu07 commented on #81
https://pastebin.com/r5wc0gUd

this my adpter

[2020-09-23 05:06] abimanyu07 commented on #81
thanks for the help @vipulasri  , I've found the error

[2020-09-23 07:36] vipulasri commented on #85
@alvin96 this library can achieve this but you will have to write the logic on your side to support this behavior using 'setStartLine()' and 'setEndLine()' methods.

[2020-09-23 07:36] #85 closed

[2020-09-23 07:53] vipulasri commented on #81
@rmpt @emrizkiem
I am using the sample app and made some changes to it to support multiple lines. It's working fine for me.
What I can probably understand is the use of layout in XML is needed to be taken care-of properly.

![sample-app](https://user-images.githubusercontent.com/7822179/93983096-c251f580-fd9f-11ea-8de6-eb1b2edfd9e1.gif)

[2020-09-24 02:13] alvin96 commented on #85
Thanks 👍

[2020-12-15 07:41] pattaniinfoway commented on #42
For me the line is not showing

[2021-02-20 06:49] vipCodeError opened #96 "line does not show through xml"
Line not showing through xml.

`  <LinearLayout
                android:orientation="horizontal"
                android:id="@+id/order_timeline"
                android:weightSum="4"
                android:layout_margin="8dp"
                android:background="@drawable/rounded_card"
                android:layout_below="@id/card_view3"
                android:layout_width="match_parent"

[2021-02-20 06:51] vipulasri commented on #96
Can you please post the adapter code as well ?

[2021-02-21 05:11] vipCodeError commented on #96
I am not using recycler view adapter . I just added four timeline xml and changes their marker and end line and start line color .

[2021-02-21 06:14] vipulasri commented on #96
@vipCodeError This is not how this library works. Please follow the steps mentioned in the readme file.

[2021-02-21 06:14] #96 closed

[2021-07-30 07:19] VivekMakwana24 opened #97 "Can I get a click event in any of the marker?"

[2021-07-30 07:20] #97 closed

[2021-07-30 07:20] VivekMakwana24 opened #98 "How to get click event for marker click?"

[2021-12-28 19:34] NimaaZx commented on #21
thanks developers. for those who get stucked for this feature. you should write code like this in your adapter. important part of this code is calling getItemViewType(). they prepared all things you need.

[code]

[2022-01-10 02:37] cuilingling opened #99 "StartLineColor 和EndLineColor 不起作用 先排除ViewHolder里是否timeline.initLine(viewType);"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the following information):**
 - Device: [e.g. Pixel 2XL]
 - OS: [e.g. Android 9

[2022-01-10 04:29] vipulasri commented on #99
@cuilingling Please add more information to your issue, so that I can debug the problem.

[2022-01-16 09:56] NimaaZx opened #100 "Replace marker with Imageview"
Hey. thanks to developers. I don't think so the things I want to mention , it is a bug!
I wanted to use this cool library to create timeline view like this.

![image](https://user-images.githubusercontent.com/29895180/149654057-899e3aef-e64a-4190-8c38-13a477414f14.png)

there is no problem if I just put  SVG drawable inside timelineview. even I could change size of drawable. everything worked fine

[2022-04-29 19:29] eriknyk opened #101 "Can we have Dark mode?"
Can we have Dark mode?

Dark mode currently is a must in modern apps

a config for dark mode would be great.